<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%15c] (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" />
		</Root>
    	<Logger name="sun" level="ERROR"/>
    	<Logger name="xml" level="WARN"/>
    	<Logger name="jdk" level="WARN"/>
    	<Logger name="javax" level="INFO"/>
    	<Logger name="javafx" level="INFO"/>
    	<Logger name="network" level="TRACE"/>
    	<Logger name="org.prelle.ansi" level="TRACE"/>
	</Loggers>
</Configuration>
